@model EHSInventory.Models.CategoryView

<h1>@Model.CurrentCategory.Name</h1>

<img src="@Model.CurrentCategory.Icon">

<table>
    <tbody>
@foreach (var product in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                <a href="/Products/@product.ProductId">Edit</a>
            </td>
            <td>
                <a href="/Products/@product.ProductId/Delete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>Add a new product <a href="/Categories/@Model.CurrentCategory.ProductCategoryId/Add">here</a></p>