/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --base-clr: #ffffff;
    --line-clr: #42434a;
    --hover-clr: #6ae6ff86;
    --text-clr: #000000;
    --accent-clr: #6ae6ff;
    --error-clr: #ff3030;
    --error-hvr: #ff303086;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Poppins;
    color: var(--text-clr);
    line-height: 1.5rem;
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
    "navbar header"
    "navbar table"
}
header{
    grid-area: header;
    padding: 30px;
}
main{
    grid-area: table;
    padding: 0 30px 30px 30px;
}
#top-bar{
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 700px;
    margin-bottom: 20px;
    h1{
        text-wrap: nowrap;
    }
    #logout{
        text-wrap: nowrap;
        text-decoration: none;
        color: var(--text-clr);
        padding: 5px;
        background-color: var(--error-hvr);
        border-style: solid;
        border-color: var(--line-clr);
        border-radius: 5px;
        border-width: 2px;
        transition: 150ms ease;
    }
    #logout:hover{
        background-color: var(--error-clr);
    }
}
#sidebar{
    grid-area: navbar;
    box-sizing: border-box;
    height: 100vh;
    width: 301px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);
    position: sticky;
    top: 0;
    align-self: start;
    overflow: auto;
}
#sidebar ul{
    list-style: none;
}
#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-start;
    .logo{
        font-weight: 600;
        font-size: 20px;
    }
}
#sidebar ul li.active a{
    background-color: var(--accent-clr);
    svg{
        fill: var(--accent-clr);
    }
}
#sidebar a, #sidebar .logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}
#sidebar svg{
    flex-shrink: 0;
    fill: var(--text-clr);
}
#sidebar a span{
    flex-grow: 1;
}
#sidebar a:hover{
    background-color: var(--hover-clr);
}
.add-product{
    color: var(--text-clr);
    text-decoration: none;
    padding: 5px;
    background-color: var(--hover-clr);
    border-style: solid;
    border-color: var(--line-clr);
    border-radius: 5px;
    border-width: 2px;
    display: inline-flex;
    align-items: center;
    transition: 150ms ease;
    svg{
      width: 1rem;
      padding-right: 0.2em;
    }
}
.add-product:hover{
    background-color: var(--accent-clr);
}
#products-table{
    text-align: left;
    width: 900px;
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid var(--line-clr);
    }
    th, td{
        padding: 0.5em 0.25em;
    }
    a{
        color: var(--text-clr);
        text-decoration: none;
    }
    a:hover{
        color: var(--text-clr);
        text-decoration: underline;
    }
    .quantity-col{
        text-align: right;
        padding-right: 2rem;
    }
}