@model EHSInventory.Models.EditProductView

<head>
    <link rel="stylesheet" href="~/css/actions.css">
</head>
<body>
    <main>
        <div class="wrapper">
            <h1>Edit @Model.Name</h1>

            <form asp-action="Edit">

            <input type="hidden" asp-for="ProductId"/>
            <input type="hidden" asp-for="CategoryId"/>
            <input type="hidden" asp-for="CategoryName">

            <div class="field">
                <label asp-for="Name">Name</label><br/>
                <input asp-for="Name"/><br/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="GrangerNum">Grainger Number</label><br/>
                <input asp-for="GrangerNum"/><br/>
                <span asp-validation-for="GrangerNum" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Description">Description</label><br/>
                <input asp-for="Description"/><br/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <!--<div class="field">
                <label asp-for="Photo">Photo</label><br/>
                <input asp-for="Photo"/><br/>
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>-->
            <div class="field">
                <label asp-for="ExpirationDate">Expiration Date</label><br/>
                <input asp-for="ExpirationDate" placeholder="MM/DD/YYYY"/><br/>
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Comment">Comment</label><br/>
                <textarea name="comment" id="comment" placeholder="Comment" asp-for="Comment"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            @Html.HiddenFor(x => x.CategoryId)
            <div class="buttons">
                <input type="submit" value="Apply Changes" class="submit"/>
                <a class="cancel" href="/Product/@Model.ProductId">Cancel</a>
            </div>

            </form>
        </div>
    </main>
</body>