@model EHSInventory.Models.Product

<h1>Edit @Model.Name</h1>

<form asp-action="Edit">

<input type="hidden" asp-for="ProductId"/>

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DisplayOrder" class="control-label"></label>
    <input asp-for="DisplayOrder" class="form-control" />
    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Unit" class="control-label"></label>
    <input asp-for="Unit" class="form-control" />
    <span asp-validation-for="Unit" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GrangerNum" class="control-label"></label>
    <input asp-for="GrangerNum" class="form-control" />
    <span asp-validation-for="GrangerNum" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Photo" class="control-label"></label>
    <input asp-for="Photo" class="form-control" />
    <span asp-validation-for="Photo" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ExpirationDate" class="control-label"></label>
    <input asp-for="ExpirationDate" class="form-control" />
    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
</div>

<div class="form-group">
    <input type="submit" value="Edit" class="btn btn-primary" />
</div>

</form>